@import "../../variables.scss";

.container{
    position: relative;

    .card{
        height: 100px;
        width: 180px;
        border: 2px solid $darkColor;
        border-radius: 7px;
        margin: 10px;

        @include mobile{
            height: 80px;
            width: 160px;
        }
    
    img{
        border-radius: 7px;
        object-fit: cover;
        width:100%;
        height:100%;
    }
}

    .cardText{
        height: 100px;
        width: 180px;
        z-index: 10;
        position: absolute;
        top: 0;
        opacity: 0%;
        margin: 10px;
        //background-color: $darkColor;
        border: 2px solid $darkColor;
        border-radius: 7px;
        color: $baseColor;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;

        h5{
            text-align: center;
            margin: 5px 0;
            font-size: 1.3em;
            z-index: 20;
        }
    
        .links{
            display: flex;
            align-items: center;

            h6{
                margin: 5px 10px;
                font-size: .9em;
            }

            h6:hover{
                color: $kindaRed;
            }

            a{
                text-decoration: none;
            }

            a:visited{
                color: $baseColor;
            }
        }
    }

    .cardText:hover{
        opacity: 90%;

        h5{
            opacity: 100% !important;
        }

        h6{
            opacity: 100%;
        }
    }

}