@import "../../variables.scss";

.navBar{
    height: 40px !important;
    width: 100vw;
    background-color: $darkColor;
    position: sticky;
    top: 0;
    color: $baseColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-snap-align: none !important;

    h1{
        margin: auto 0;
        margin: 0 20px;
        font-size: 20px;
        font-family: 'Permanent Marker', cursive;
    }

    .menuContainer{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: $darkColor;
        transition: visibility 0.5s ease-in, right 0.5s ease-out;
            
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0 20px;
                padding: 0;
                justify-content: space-around;
                align-items: center;
                
                li{
                    color: $baseColor;
                    font-weight: 500;
                    font-size: large;
                    cursor: pointer;
                    margin: 30px 30px;
                    a{
                        font-size: inherit;
                        color: inherit;
                        text-decoration: none;
                    }
                    &:hover{
                        font-weight: 800;
                    }
                }
            }
    }

    .active{
        right: 0;
        visibility: visible;
        transition: right 0.3s ease-out;
    }
}