@import "../../variables.scss";

.aboutMe{
    background-color: $baseColor;
    color: $darkColor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $darkColor;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        height: 100vh;
        
        @include mobile{
            flex-direction: column;
        }

        .containerLeft{
            flex: 2;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile{
                display: none;
            }
        
        img{
            z-index: 1;
            width: 260px;
            height: 260px;
            border-radius: 50%;
            object-fit: contain;
            object-position: center;
            border: 10px solid $darkColor;

            @include mobile{
                display: none;
            }
        }
    }
    
    .containerRight{
        height: 100%;
        margin: 0 25px;
        flex: 3;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        
        h3{
            font-style: italic;
        }
        
        .skills{
            
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                //justify-content: space-around;
                
                li{
                    border-radius: 2px;
                    border: 1px solid $darkColor;
                    padding: 5px 10px;
                    margin: 5px 10px;
                }
                li:hover{
                    color: $kindaRed;
                    cursor: default;
                    border: 1px solid $kindaRed;
                    border-radius: 5px;
                    
                }
            }
        }
    }
}
}

.downArrow{
    font-size: 30px;
    cursor: pointer;
    animation: blink-animation 1s steps(5, start) infinite;

    a{
        font-size: inherit;
        color: inherit;
        text-decoration: none;
    }
}